%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form-group
    = f.label :username
    = f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, autocomplete: "email", class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %small.form-text.text-muted
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "new-password", class: 'form-control'
    %small.form-text.text-muted
      %i (leave blank if you don't want to change it)
    - if @minimum_password_length
      %small.form-text.text-muted
        = @minimum_password_length
        characters minimum
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
    %small.form-text.text-muted
      %i (we need your current password to confirm your changes)
  .form-group
    = f.label :profile
    = f.text_area :profile, class: 'form-control'
  .form-group
    = f.label :url
    = f.text_field :url, autocomplete: "url", class: 'form-control'
  = f.submit "Update", class: 'btn btn-primary'
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'}
= link_to "Back", :back
