%h2
  User Page
%div
  %p
    - if !user_signed_in?
      ログインしていません
    - elsif current_user == @user
      あなたの情報ページです
    - elsif @user.followed_by?(current_user)
      フォロー中
      = button_to 'フォロー解除', user_follows_path(@user), method: :delete, class: 'btn btn-danger'
    - else
      未フォロー
      = button_to 'フォロー', user_follows_path(@user), method: :post, class: 'btn btn-primary'
  %p
    Username
    %br/
    = @user.username
  %p
    Profile
    %br/
    = @user.profile
  %p
    Url
    %br/
    = @user.url
