%h2
  User Page
%div
  %p
    - if !user_signed_in?
      ログインしていません
    - elsif current_user == @user
      あなたの情報ページです
    - elsif @user.followed_by?(current_user)
      = form_for(@follow, url: user_follows_path(@user), method: :delete) do |f|
        .form-group
          フォロー中
          = f.hidden_field :followed_user_id
          = f.submit 'フォロー解除', class: 'btn btn-danger'
    - else
      = form_for(@follow, url: user_follows_path(@user), method: :post) do |f|
        .form-group
          未フォロー
          = f.hidden_field :followed_user_id
          = f.submit 'フォロー', class: 'btn btn-primary'
  %p
    Username
    %br/
    = @user.username
  %p
    Profile
    %br/
    = @user.profile
  %p
    Url
    %br/
    = @user.url
