!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.15.4/css/all.css', integrity: 'sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm', crossorigin: 'anonymous' }
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to 'MiniBlog', root_path, class: 'navbar-brand'
      %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#navbarNav' }, aria: { controls: 'navbarNav', expanded: 'false', label: 'Toggle navigation' } }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        - if user_signed_in?
          %span.navbar-text
            = "#{current_user.username}でログイン中"
          %ul.navbar-nav
            %li.nav-item
              = link_to 'プロフィール変更', edit_user_registration_path, class: 'nav-link'
            %li.nav-item
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %ul.navbar-nav
            %li.nav-item
              = link_to 'サインアップ', new_user_registration_path, class: 'nav-link'
            %li.nav-item
              = link_to 'ログイン', new_user_session_path, class: 'nav-link'

    - if notice.present?
      %div.alert.alert-info
        = notice
    - if alert.present?
      %div.alert.alert-warning
        = alert
    = yield
